<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Pesquisa de pessoas</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Pessoas</h1>
				<a class="btn btn-link aw-link-panel" href="/gestaopessoa/home">Cadastrar
					pessoa</a>
			</div>
		</div>

		<div class="panel-body">
			<form method="GET" class="form-horizontal" action="/gestaopessoa" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Qual pessoa você procura?" name="nome" th:field="*{nome}"></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Nome</th>
						<th class="text-center col-md-2">Sobrenome</th>
						<th class="text-right col-md-2">Telefone</th>
						<th class="col-md-1" />
					</tr>
				</thead>
				<tbody>
					<tr th:each="pessoa : ${pessoas}">
						<!-- Esse object "pessoas" é uma lista com as pesssoas cadastradas no banco! -->
						<td class="text-center" th:text="${pessoa.id}"></td>
						<td th:text="${pessoa.nome}"></td>
						<td class="text-center" th:text="${pessoa.sobrenome}"></td>
						<td class="text-right" th:text="${pessoa.telefone}"></td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" th:href="@{/gestaopessoa/{id}(id=${pessoa.id})}"
								title="Editar" rel="tooltipe" data-placement="top"> 
								<span
									class="glyphicon glyphicon-pencil">
								</span>
							</a>
						 	<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
						 		th:attr="data-id=${pessoa.id}, data-nome=${pessoa.nome}"
						 		title="Excluir" rel="tooltipe" data-placement="top"> 
								<span
									class="glyphicon glyphicon-remove">
								</span>
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="5" th:if="${#lists.isEmpty(pessoas)}">Nenhum título foi encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>